<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763695934346-mmcua8fm3k6gqo5fljluh4q90vf75ss0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763695934346-mmcua8fm3k6gqo5fljluh4q90vf75ss0</string>
	<key>API_KEY</key>
	<string>AIzaSyBwqQfQPA1Wzv3yvXTl-HOEbdjsydW7Tg0</string>
	<key>GCM_SENDER_ID</key>
	<string>763695934346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushNotification</string>
	<key>PROJECT_ID</key>
	<string>push-notification-43e80</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notification-43e80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763695934346:ios:a275679dca14757267f673</string>
</dict>
</plist>